# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Microsoft Power BI Para Business Intelligence e Data Science</font>

## <font color='blue'>Machine Learning com Linguagem Python e Power BI Dentro do Jupyter Notebook</font>

Problema de Negócio:

Considerando dados históricos de clientes que realizaram compras em nossa empresa, faça o agrupamento (segmentação) dos clientes por similaridade de características em 3 grupos e envie o relatório para a equipe de Marketing.

![DSA](imagens/Lab7.png)

In [14]:
# Versão do python
from platform import python_version
print('Versão da linguagem Python utilizada nesse jupyter notebook é:', python_version ())

Versão da linguagem Python utilizada nesse jupyter notebook é: 3.12.7

In [27]:
# Imports
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [16]:
# Carrega os dados
df_dsa = pd.read_csv('dados/dados_clientes.csv')

In [17]:
type(df_dsa)

pandas.core.frame.DataFrame

In [18]:
# Visualiza as 10 primeiras linhas
df_dsa.head(10)

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51
5   6     25       145729                37
6   7     38        66175                96
7   8     56        27805                87
8   9     36        25237                78
9  10     40       135247                29

In [19]:
Análise estatístico

SyntaxError: invalid syntax (1628750856.py, line 1)

In [ ]:
# Resumo estastístico
df_dsa[['idade', 'renda_anual', 'pontuacao_gastos']].describe()

In [ ]:
# Cria o padronizador dos dados
padronizador = StandardScaler()

In [ ]:
# Aplica o padronizador somente nas colunas de interese
dados_padronizados = padronizador.fit_transform(df_dsa[['idade', 'renda_anual', 'pontuacao_gastos']])

In [ ]:
# Visualiza os dados
print(dados_padronizados)

In [ ]:
Construção do Modelo de Machine Learning Para Segmentação

In [ ]:
# Definimos o número de clusters(k)
k = 3

In [ ]:
#Criamos o modelo K-Means
kmeans = KMeans(n_clusters = k)

In [ ]:
kmeans.fit(dados_padronizados)

In [ ]:
df_dsa['cluster'] = kmeans.labels_

In [22]:
df_dsa.head(10)

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51
5   6     25       145729                37
6   7     38        66175                96
7   8     56        27805                87
8   9     36        25237                78
9  10     40       135247                29

In [26]:
df_dsa.to_csv('dados/segmentos.csv',index = False)

Gerando Relátorio dos Segmentos de Clientes com Power BI no Jupyter Notebook